ul,li{list-style: none;padding:0;margin:0;}
.area-input{}
.area-content{border-radius: 0 0 5px 5px; display: none;background-color: #f6f6f6;border:1px solid #ccc;width:360px;padding:12px;margin-left: -1px; color:#999999;}
.area-input .area{ background-color: #fff; cursor: pointer; padding-right:20px;float:left;position: relative;height: 30px;border:1px solid #ccc;border-radius: 5px;line-height: 30px;width:100px;text-align: center;margin-right: 17px;}
.area-input .area i{display: inline-block;width:14px;height:7px;background:url(../../../css/imgs/icon.png) 0 -91px no-repeat;position: absolute;right: 12px;top:13px;}
.area-content ul{overflow: hidden;}
.area-content li{float:left;padding:6px 4px;line-height: 1;margin-right: 2px;}
.area-content li:hover,.area-content li.active{background-color: #ef5e4f;color:#fff;border-radius: 2px;}
.area-input .area.active{border-radius: 5px 5px 0 0;background-color:#f6f6f6;color:#333333;z-index: 34;}
.area-input .area.active i{background-position: 0 -106px;}
.area-input .area.active .area-content:before{content:"";display: block;width:120px;height:3px;background-color: #f6f6f6;position: absolute;left:0px;top:40px;z-index: 2;}
.area-input .area span{height: 30px;overflow: hidden;  display: block;  text-overflow: ellipsis;  white-space: nowrap;}
