.progress,.press{width:30px;height:200px;border:1px solid #ccc;position: relative;}
.progress .progress-finished,.press .progress-finished{width:100%;background: red;position: absolute;bottom: 0;}
.transverse{width:300px;height: 30px;border:1px solid #ccc;position: relative;}
.transverse .progress-finished{height:100%;background: red;position: absolute;left: 0;}
