.ui-autosearch-content{background: #fff;border:1px solid #ddd;max-height: 200px;overflow: auto;}
.ui-autosearch-content .item{overflow: hidden;text-overflow:ellipsis;  white-space: nowrap; height: 24px;line-height: 24px;box-sizing:border-box;padding-left:10px;cursor: pointer;}
.ui-autosearch-content .item:hover{background-color: #f2f2f2;}