@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter'), local('ArchitectsDaughter'), url(https://fonts.gstatic.com/s/architectsdaughter/v6/RXTgOOQ9AAtaVOHxx0IUBOkI_DLF4EgbZt3mhU8gQFo.woff) format('woff');
}
.uilist{list-style:none;padding:none;overflow: hidden;}
.uilist li{float:left;padding:10px 20px;background-color:#fff;border:1px solid #ddd;}
.uilist li:hover{border-color:#ddd;box-shadow:5px 5px 20px #666;}
.uilist li a{display:block;}
.uilist li img{width:200px;}