<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link href='stylesheets/css.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <title>js组件-js插件-jquery插件-$!title</title> </head>
  <meta name="keywords" content="js组件,js插件,jquery插件,前端组件,require插件,ui插件"/>
  <meta name="description" content="这里是一些开源的js插件，其中支持jquery、zepto、requirejs的插件，有日历、弹窗、上传等。$!title" />
  <body>
    <header>
      <div class="inner">
        <h1>$!modulename</h1>
        <h2>JS组件-$!title</h2>
        <a href="https://github.com/tianxiangbing/$!modulename" target="_blank" class="button"><small>代码在这里</small> GitHub</a>
        <div style="position:absolute;right:180px;top:0px;">
          <iframe src="http://ghbtns.com/github-btn.html?user=tianxiangbing&repo=$!modulename&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="120" id="gh-watchers" height="20"></iframe>
        </div>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">