<ul class="menu"><li><a href="index.html">js组件首页</a></li><li><a href="/index.html" target="_blank">JY库</a></li><li><a href="/dev.htm" target="_blank" >分享区</a></li><li><a href="/demo.html" target="_blank">技术博文</a></li><li><a href="http://www.lovewebgames.com/flash/" target="_blank">Flash Games</a></li><li><a href="/games.html" target="_blank">JY游戏</a></li></ul>