<ul class="menu"><li><a href="index.html">js组件首页</a></li><li><a href="index.html">JY库</a></li><li><a href="/dev.htm" target="_blank" style="color:yellow;font-weight:bold;">分享区</a></li><li><a href="/demo.html" style="color:yellow;font-weight:bold;">技术博文</a></li><li><a href="http://www.lovewebgames.com/flash/" target="_blank">Flash Games</a></li><li><a href="http://www.lovewebgames.com/api.html">API</a></li><li><a href="https://github.com/tianxiangbing/JY" target="_blank">下载</a></li><li><a href="/games.html">JY游戏</a></li></ul>