<aside id="sidebar">
	<a href="https://github.com/tianxiangbing/$!modulename/zipball/master" target="_blank" class="button">
		<small>Download</small>
		.zip file
	</a>
	<a href="https://github.com/tianxiangbing/$!modulename" target="_blank" class="button">
		<small>Code</small>
		源码
	</a>
	<p class="repo-owner"><a href="https://github.com/tianxiangbing/$!modulename" target="_blank">$!modulename</a> is maintained by <a href="https://github.com/tianxiangbing" target="_blank">tianxiangbing</a>.</p>
	<p>本站点所有的资源均在github上可以查看源代码 <a href="https://tianxiangbing.github.com" target="_blank"> GitHub</a></p>
</aside>