textarea{outline: none;resize:none;padding: 0;}
em{font-style: normal;padding: 0 5px;}
.over-number{border-color: red;}
em.over-number{color: red;}
.error-number{background:#FFbbbb;border-color: rgb(214, 253, 32); }
.txt-count-container{position: relative;display: inline-block;}
.txt-count-container .counter{position: absolute;bottom:5px;right: 12px;font-size:12px;}